@theme {
	/* Color Sets */
	--color-primary-50: oklch(90.64% 0.09 208.27deg);
	--color-primary-100: oklch(84.64% 0.09 213.61deg);
	--color-primary-200: oklch(78.89% 0.1 217.82deg);
	--color-primary-300: oklch(72.86% 0.11 222.65deg);
	--color-primary-400: oklch(66.94% 0.11 228.27deg);
	--color-primary-500: oklch(60.95% 0.12 233.13deg);
	--color-primary-600: oklch(52.52% 0.11 238.54deg);
	--color-primary-700: oklch(44.29% 0.1 243.48deg);
	--color-primary-800: oklch(36.02% 0.09 249.24deg);
	--color-primary-900: oklch(27.75% 0.08 253.66deg);
	--color-primary-950: oklch(19.44% 0.08 259.2deg);

	--color-surface-50: oklch(99.11% 0 none);
	--color-surface-100: oklch(90.06% 0 none);
	--color-surface-200: oklch(80.78% 0 none);
	--color-surface-300: oklch(71.22% 0 none);
	--color-surface-400: oklch(61.33% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.5% 0 none);
	--color-surface-900: oklch(25.62% 0 none);
	--color-surface-950: oklch(18.22% 0 none);

	/* Color Contrasts */
	--color-primary-contrast-light: 
	
	var(--color-primary-950);
	--color-primary-contrast-dark: 
	
	var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-light);
	--color-primary-contrast-100: var(--color-primary-contrast-light);
	--color-primary-contrast-200: var(--color-primary-contrast-light);
	--color-primary-contrast-300: var(--color-primary-contrast-light);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-dark);
	--color-primary-contrast-950: var(--color-primary-contrast-dark);

	--color-surface-contrast-light: var(--color-surface-950);
	--color-surface-contrast-dark: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-light);
	--color-surface-contrast-100: var(--color-surface-contrast-light);
	--color-surface-contrast-200: var(--color-surface-contrast-light);
	--color-surface-contrast-300: var(--color-surface-contrast-light);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-dark);
	--color-surface-contrast-900: var(--color-surface-contrast-dark);
	--color-surface-contrast-950: var(--color-surface-contrast-dark);
}

@theme inline {
	/* Color Set Pairings */
	--color-primary-50-950: light-dark(var(--color-primary-50), var(--color-primary-950));
	--color-primary-100-900: light-dark(var(--color-primary-100), var(--color-primary-900));
	--color-primary-200-800: light-dark(var(--color-primary-200), var(--color-primary-800));
	--color-primary-300-700: light-dark(var(--color-primary-300), var(--color-primary-700));
	--color-primary-400-600: light-dark(var(--color-primary-400), var(--color-primary-600));
	--color-primary-600-400: light-dark(var(--color-primary-600), var(--color-primary-400));
	--color-primary-700-300: light-dark(var(--color-primary-700), var(--color-primary-300));
	--color-primary-800-200: light-dark(var(--color-primary-800), var(--color-primary-200));
	--color-primary-900-100: light-dark(var(--color-primary-900), var(--color-primary-100));
	--color-primary-950-50: light-dark(var(--color-primary-950), var(--color-primary-50));

	--color-surface-50-950: light-dark(var(--color-surface-50), var(--color-surface-950));
	--color-surface-100-900: light-dark(var(--color-surface-100), var(--color-surface-900));
	--color-surface-200-800: light-dark(var(--color-surface-200), var(--color-surface-800));
	--color-surface-300-700: light-dark(var(--color-surface-300), var(--color-surface-700));
	--color-surface-400-600: light-dark(var(--color-surface-400), var(--color-surface-600));
	--color-surface-600-400: light-dark(var(--color-surface-600), var(--color-surface-400));
	--color-surface-700-300: light-dark(var(--color-surface-700), var(--color-surface-300));
	--color-surface-800-200: light-dark(var(--color-surface-800), var(--color-surface-200));
	--color-surface-900-100: light-dark(var(--color-surface-900), var(--color-surface-100));
	--color-surface-950-50: light-dark(var(--color-surface-950), var(--color-surface-50));

	/* Color Contrast Pairings */
	--color-primary-contrast-50-950: light-dark(
		var(--color-primary-contrast-50),
		var(--color-primary-contrast-950)
	);
	--color-primary-contrast-100-900: light-dark(
		var(--color-primary-contrast-100),
		var(--color-primary-contrast-900)
	);
	--color-primary-contrast-200-800: light-dark(
		var(--color-primary-contrast-200),
		var(--color-primary-contrast-800)
	);
	--color-primary-contrast-300-700: light-dark(
		var(--color-primary-contrast-300),
		var(--color-primary-contrast-700)
	);
	--color-primary-contrast-400-600: light-dark(
		var(--color-primary-contrast-400),
		var(--color-primary-contrast-600)
	);
	--color-primary-contrast-600-400: light-dark(
		var(--color-primary-contrast-600),
		var(--color-primary-contrast-400)
	);
	--color-primary-contrast-700-300: light-dark(
		var(--color-primary-contrast-700),
		var(--color-primary-contrast-300)
	);
	--color-primary-contrast-800-200: light-dark(
		var(--color-primary-contrast-800),
		var(--color-primary-contrast-200)
	);
	--color-primary-contrast-900-100: light-dark(
		var(--color-primary-contrast-900),
		var(--color-primary-contrast-100)
	);
	--color-primary-contrast-950-50: light-dark(
		var(--color-primary-contrast-950),
		var(--color-primary-contrast-50)
	);

	--color-surface-contrast-50-950: light-dark(
		var(--color-surface-contrast-50),
		var(--color-surface-contrast-950)
	);
	--color-surface-contrast-100-900: light-dark(
		var(--color-surface-contrast-100),
		var(--color-surface-contrast-900)
	);
	--color-surface-contrast-200-800: light-dark(
		var(--color-surface-contrast-200),
		var(--color-surface-contrast-800)
	);
	--color-surface-contrast-300-700: light-dark(
		var(--color-surface-contrast-300),
		var(--color-surface-contrast-700)
	);
	--color-surface-contrast-400-600: light-dark(
		var(--color-surface-contrast-400),
		var(--color-surface-contrast-600)
	);
	--color-surface-contrast-600-400: light-dark(
		var(--color-surface-contrast-600),
		var(--color-surface-contrast-400)
	);
	--color-surface-contrast-700-300: light-dark(
		var(--color-surface-contrast-700),
		var(--color-surface-contrast-300)
	);
	--color-surface-contrast-800-200: light-dark(
		var(--color-surface-contrast-800),
		var(--color-surface-contrast-200)
	);
	--color-surface-contrast-900-100: light-dark(
		var(--color-surface-contrast-900),
		var(--color-surface-contrast-100)
	);
	--color-surface-contrast-950-50: light-dark(
		var(--color-surface-contrast-950),
		var(--color-surface-contrast-50)
	);
}
